{% extends 'base.html.twig' %}

{% block title %}Test de developpement MarqueDigitale{% endblock %}

{% block body %}
    <header class="row justify-content-between align-items-center g-0">
        <div class="col-3 row align-items-center justify-content-between g-0">
            <img src="{{ asset('build/logo.png') }}" alt="logo" class="logo col-1"/>
            <h1 class="col-10">Matthis Reyjon</h1>
        </div>

        <input type="search" placeholder="Rechercher un produit" class="search  col-7"/>
        <button class="sync col-1">
            Synchroniser
        </button>
    </header>
    <div class="container mt-5">


        <div class="row justify-content-around mt-3 g-0">
            <div class="col-4">
                <select class="form-select" id="familly">
                    <option value="famille" disabled selected>Selectionnez une famille</option>
                    {% for famille in familles %}
                        <option value="{{ famille.famille }}">{{ famille.famille }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-4">
                <select class="form-select" id="brand">
                    <option value="marque" disabled selected>Selectionnez une marque</option>
                    {% for marque in marques %}
                        <option value="{{ marque.marque }}">{{ marque.marque }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <table class="table table-striped table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Marque</th>
                <th scope="col">Prix public</th>
                <th scope="col">Reference fabricant</th>
                <th scope="col">Type</th>
                <th scope="col">Nom du metier</th>
            </tr>
            </thead>
            <tbody>
            {% for materiel in materiels %}
                <tr>
                    <th scope="row">{{ materiel.id }}</th>
                    <td>{{ materiel.nomCourt }}</td>
                    <td>{{ materiel.marque }}</td>
                    <td>{{ materiel.prixPublic }}</td>
                    <td>{{ materiel.referenceFabricant }}</td>
                    <td>{{ materiel.typeId.famille }}</td>
                    <td>{{ materiel.typeId.metierId.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
